* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* header style by youssef */

.f-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-top: 2.5rem;
}

.f-navbar>img {
    width: 5.3rem;
    height: 2.2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}

nav>a {
    text-decoration: none;
    color: #314584;
    font-weight: 650;
    letter-spacing: 0.6px;
}

.f-home {
    color: #ff3946;
}

nav>button {
    color: #ff3946;
    background-color: rgb(253, 253, 253);
    border: none;
    border-radius: 1px;
    width: 8.5rem;
    height: 2.8rem;
    padding-left: 3.5rem;
}

/* first section by yahya */
.a-first-section{
    display: flex;
    width: 100%;
    padding: 5vh 10vw;
    gap: 3vw;
}
.a-first-section>.a-left-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.a-first-section>.a-left-content>h1{
    font-weight: bold;
    font-size: 4em;
    text-transform: capitalize;
    color: rgb(39, 70, 132);
}
.a-first-section>.a-left-content>p{
    font-size: 1em;
    text-transform: capitalize;
    color: rgba(39, 70, 132, 0.418);
}
.a-first-section>.a-left-content>.a-buttons{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.a-first-section>.a-left-content>.a-buttons>button{
    padding: 2vh 2.5vw;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
}
.a-first-section>.a-left-content>.a-buttons>button:nth-child(1){
    background-color: rgb(255, 18, 47);
    color: white;
}
.a-first-section>.a-left-content>.a-buttons>button:nth-child(1):hover{
    scale: 105%;
}
.a-first-section>.a-left-content>.a-buttons>button:nth-child(2){
    background-color: white;
    color: black;
}
.a-first-section>.a-left-content>.a-buttons>button:nth-child(2):hover{
    background-color: rgb(255, 0, 30);
    color: white;
    scale: 105%;
}
.a-first-section>.a-right-content{
    width: 50%;
}

/* second section by yahya */

/* third section by yahya */

/* footer style by youssef */

/* header responsive - desktop edit */

#menu,
label {
    display: none;
}

.close,
.open {
    display: none;
}

@media (max-width: 480px) {
    /* header style by youssef - responsive */

    header {
        padding: 0 0;
        width: 100%;
    }

    .f-navbar {
        gap: 15.5rem;
        padding-top: 1.4rem;
    }

    .label,
    .close {
        display: block;
    }

    .f-navbar>nav>label {
        display: block;
    }

    .open {
        display: block;
    }

    .f-navbar>nav>a {
        color: #ffffff;
        font-size: 18px;
    }

    #menu {
        display: none;
    }

    #menu:checked~nav {
        right: 0;
    }

    nav {
        background-color: #353535;
        position: fixed;
        width: 85%;
        height: 100vh;
        right: -200%;
        top: 0;
        transition: 0.5s;
        flex-direction: column;
        align-items: start;
        gap: 5vh !important;
        padding: 5vw !important;
    }

    #menu:checked~.close {
        display: block;
    }

    .close {
        align-self: end;
    }

    nav>button {
        display: none;
    }

    /* first section by yahya - responsive */
    .a-first-section{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .a-first-section>.a-left-content{
        width: 100%;
        text-align: center;
    }
    .a-first-section>.a-left-content>h1{
        font-size: 3em;
    }
    .a-first-section>.a-left-content>p{
        font-size: 0.9em;
    }
    .a-first-section>.a-left-content>.a-buttons{
        flex-direction: column;
        gap: 1.5vh;
        width: 100%;
    }
    .a-first-section>.a-left-content>.a-buttons>button{
        padding: 2vh 10vw;
    }
    .a-first-section>.a-right-content{
        width: 100%;
    }
    .a-first-section>.a-right-content>img{
        width: 100%;
    }
    /* second section by yahya - responsive */

    /* third section by yahya - responsive */

    /* footer style by youssef - responsive */
}
